<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  \{{ helper.assets.getStyle('umi.css') | safe }}
  <link rel="shortcut icon" type="image/x-icon" href="https://lx-static.highso.com.cn/frontend/favicon.ico" />
  <!-- GrowingIO Analytics code version 2.1 -->
  <!-- Copyright 2015-2017 GrowingIO, Inc. More info available at http://www.growingio.com -->
  <script type='text/javascript'>
    !function (e, t, n, g, i) { e[i] = e[i] || function () { (e[i].q = e[i].q || []).push(arguments) }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag) }(window, document, "script", "assets.giocdn.com/2.1/gio.js", "gio");
    gio('init', '983d2a99c19ed1d3', {});
    //custom page code begin here
    //custom page code end here​
    gio('send');
  </script>
  <!-- End GrowingIO Analytics code version: 2.1 -->
  <script>
    console.log('-------------view/index.html--------------')
  </script>
</head>

<body>
  <script>
    !(function (c, b, d, a) {
      c[a] || (c[a] = {}); c[a].config = { pid: "i6zghmpbfi@931bac92ce88e04", appType: "web", imgUrl: "https://arms-retcode.aliyuncs.com/r.png?", sendResource: true, enableLinkTrace: true, behavior: true };
      with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
    })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
  </script>

  <div id="root"></div>

  <script>
    window.routerBase = '/';
    window.resourceBaseUrl = '\{{ helper.assets.resourceBase }}';
  </script>
  \{{ helper.assets.getScript('umi.js') | safe }}
  <script>
    window.NVC_Opt = {
      //无痕配置 && 滑动验证、刮刮卡、问答验证码通用配置
      appkey: 'FFFF0N0000000000978B',
      scene: 'nvc_message_h5',
      // appkey: 'CF_APP_1',
      // scene: 'nvc_register',
      isH5: true,
      popUp: true,
      renderTo: '#captcha',
      nvcCallback: function (data) {
        console.log('getNVCVal', data)
        // data为getNVCVal()的值，此函数为二次验证滑动或者刮刮卡通过后的回调函数
        // data跟业务请求一起上传，由后端请求AnalyzeNvc接口，接口会返回100或者900
      },
      trans: { "key1": "code0", "nvcCode": 600 },
      language: "cn",
      //滑动验证长度配置
      customWidth: 320,
      //刮刮卡配置项
      width: 320,
      height: 45,
      elements: [
        '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png',
        '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png'
      ],
      bg_back_prepared: '//img.alicdn.com/tps/TB1skE5SFXXXXb3XXXXXXXXXXXX-100-80.png',
      bg_front: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABQCAMAAADY1yDdAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAADUExURefk5w+ruswAAAAfSURBVFjD7cExAQAAAMKg9U9tCU+gAAAAAAAAAIC3AR+QAAFPlUGoAAAAAElFTkSuQmCC',
      obj_ok: '//img.alicdn.com/tfs/TB1rmyTltfJ8KJjy0FeXXXKEXXa-50-74.png',
      bg_back_pass: '//img.alicdn.com/tfs/TB1KDxCSVXXXXasXFXXXXXXXXXX-100-80.png',
      obj_error: '//img.alicdn.com/tfs/TB1q9yTltfJ8KJjy0FeXXXKEXXa-50-74.png',
      bg_back_fail: '//img.alicdn.com/tfs/TB1w2oOSFXXXXb4XpXXXXXXXXXX-100-80.png',
      upLang: {
        "cn": {
          _ggk_guide: "请在屏幕上滑动，刮出两面盾牌",
          _ggk_success: "恭喜您成功刮出盾牌<br/>继续下一步操作吧",
          _ggk_loading: "加载中",
          _ggk_fail: ['呀，盾牌不见了<br/>请', "javascript:NoCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
          _ggk_action_timeout: ['我等得太久啦<br/>请', "javascript:NoCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
          _ggk_net_err: ['网络实在不给力<br/>请', "javascript:NoCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
          _ggk_too_fast: ['您刮得太快啦<br/>请', "javascript:NoCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题']
        }
      }
    }
  </script>
  <script src="//g.alicdn.com/sd/nvc/1.1.112/guide.js"></script>
</body>

</html>